---
import Html from "./Iconos/html.astro";
import Sass from "./Iconos/sass.astro";
import Tailwind from "./Iconos/tailwind.astro";
import Js from "./Iconos/js.astro";
import astro from "./Iconos/astro.astro";
import react from "./Iconos/react.astro";

const TAGS = {
    HTML: {
        name: "Html",
        class: "bg-[#FF5733] text-white",
        icon: Html,
    },
    SASS: {
        name: "Sass",
        class: "bg-[#CD6799] text-white",
        icon: Sass,
    },
    TAILWIND: {
        name: "Tailwind",
        class: "bg-[#06b6d4]/70 text-white",
        icon: Tailwind,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-300/80 text-white",
        icon: Js,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-violet-900/90 text-white",
        icon: astro,
    },
    REACT: {
        name: "React",
        class: "bg-blue-900/80 text-white",
        icon: react,
    }
};
import Github from "./Iconos/github.astro";
import Link from "./Iconos/link.astro";
import Buttonproyect from "../components/subcomponents/buttonproyect.astro";

const PROJECTS = [
    {
        title: "COZMO.",
        description:
            "Proyecto de cliente, para la venta de drivers de musica",
        link: "https://cozmo-one.vercel.app",
        github: null,
        image: "/cozmo.webp",
        tag: [TAGS.ASTRO, TAGS.TAILWIND, TAGS.REACT],
    },
    {
        title: "Duki Fan Page",
        description:
            "Pagina dedicada a un artista, con data no real simulando que la pagina fuese realidad",
        link: "https://duki-fan-page.vercel.app/",
        github: "https://github.com/T0MASG0MEZ/Duki-FanPage",
        image: "/dukifanpage.webp",
        tag: [TAGS.HTML, TAGS.TAILWIND, TAGS.JAVASCRIPT],
    },
    {
        title: "Espresso Haven",
        description:
            "Pagina echa para la venta de cursos, maquinaria. contando con una presentacion del creador y un apartado de galeria",
        link: "https://coffe-shop-mauve.vercel.app/",
        github: "https://github.com/T0MASG0MEZ/Coffe-Shop",
        image: "/espressohaven.webp",
        tag: [TAGS.HTML, TAGS.SASS],
    },
];
---

{
    PROJECTS.map(({ title, description, image, tag, link, github }) => (
        <article class="flex flex-col-reverse md:flex-row p-8 lg:gap-12 items-center justify-center">
            <picture class="p-6 lg:max-w-[600px]">
                <img
                    src={image}
                    alt={`La captura de pantalla de ${image}`}
                    class="rounded-2xl shadow-2xl shadow-white/20 h-auto w-full"
                />
            </picture>
            <div class="flex flex-col lgp-8 lg:items-start gap-6 max-w-[600px]">
                <h3 class="text-4xl">{title}</h3>
                <ul class="flex gap-4">
                    {tag.map((tags) => (
                        <li>
                            <span class=`flex items-center gap-2 px-2 py-1 rounded-xl text-xs ${tags.class}`>
                                <tags.icon />
                                {tags.name}
                            </span>
                        </li>
                    ))}
                </ul>
                <p class="text-lg grow max-w-[400px]"> {description}</p>
                <div class="flex items-start gap-8">
                    {github && (
                        <a href={github} target="_blank" class="text-2xl py-2 rounded-2xl flex items-center gap-2 z-10">
                        <Buttonproyect>
                            <Github />
                            <p>Github</p>
                        </Buttonproyect>
                    </a>
                    )}
                    <a
                        href={link} target="_blank"
                        class="text-2xl py-2 rounded-2xl flex items-center gap-2 z-10"
                    >
                        <Buttonproyect>
                            <Link />
                            <p>Link</p>
                        </Buttonproyect>
                    </a>
                </div>
            </div>
        </article>
    ))
}
